.app{
  background-color: coral;
}

.counter{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter-title{
  color: white;
  font-size: 50px;
}

.counter-btn{
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 20px;
}

.counter-content{
  margin-top: 20px;
}